.git
.github
.cursor
.codex
.idea
.vscode
.zed
.nova
.phpunit.cache
.phpunit.result.cache
.phpactor.json
.env
.env.*
!.env.example
auth.json
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/app/private
storage/app/public
storage/pail
bootstrap/cache/*.php
database/database.sqlite
database/testing.sqlite
database/*.sqlite
tests
docs
Homestead.json
Homestead.yaml
Thumbs.db
.DS_Store
*.log
README.md
public/hot
public/build
public/storage
deploy/app.env
deploy/backups
